<!doctype html>

<html>
  <head>
    <title>Title</title>
  </head>

  <body>


    <%if (auth){%>
      <%- include('partial/navigation')%>
      <h1>Home</h1>
      <h2>You are logged as <%= user.first_name%></h2>
    <%} else {%>
      <h2>You need to login to use app</h2>
      <div>
        <a href="/facebook">Login with facebook</a>
      </div>
    <%}%>

    <p id="status"></p>
  </body>
</html>