<nav class="app-bar">
    <div class="left">
        <a href="/">Index</a> 
        <a href="/artists?skip=0&limit=25">List artists</a> 
        <a href="/recommend-similar-track">Recommend Strategy:Similar track</a> 
        <a href="/recommend-likes">Recommend Strategy:Liked based</a> 
        <a href="/recommend-similar-user">Recommend Strategy:Similar User</a>
    </div>
    <div class="right">
        <a href="/profile">Profile</a> 
        <a href="/api/me/logout">Logout</a>
    </div>
</nav>
